@import "./variables";

// @font-face {
//   font-family: "Proxima Nova Regular";
//   src: url("../assets/ProximaNova-Regular.ttf");
// }

// @font-face {
//   font-family: "Proxima Nova Semibold";
//   src: url("../assets/ProximaNova-Semibold.ttf");
// }

body {
  font-family: $font-family;
  background-color: $background-color;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $secondary-color;
}

a {
  text-decoration: none;
  color: $secondary-color;
}

.card {
  padding: 1.5rem;
  background: $white-color;
  box-shadow: $box-shadow;
  margin-bottom: 2rem;

  .card-tags span {
    display: inline-block;
    background: #deebff;
    color: $primary-color;
    padding: 2px 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    border-radius: 13px;
  }
}

.card-title {
  h1 {
    font-size: 28px;
    margin: 0 0 0.5rem 0;
    // font-weight: 600;

    a {
      color: $secondary-color;
    }
  }
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .footer-item {
    display: flex;
    align-items: center;
    color: $subtle-grey-color;
    font-size: 14px;

    svg {
      fill: $subtle-grey-color;
      height: 1rem;
    }
  }
}

.footer {
  color: $subtle-grey-color;
  text-align: center;
  padding: 2rem 0;
}

.white-container {
  background: $white-color;
  box-shadow: $box-shadow;
  padding: 1.5rem;

  table {
    width: 100%;
    background-color: $white-color;
  }

  table,
  th,
  td {
    border-collapse: collapse;
  }
  th,
  td {
    padding: 0.5rem;
    text-align: left;
    border-bottom: 1px solid $link-hover-color;
  }

  th {
    // font-weight: 600;
    text-transform: uppercase;
    border: none;
    text-align: left;
    background-color: $link-hover-color;
  }

  hr {
    height: 1px;
    background-color: $link-hover-color;
    border: none;
  }
}

.ul-tags {
  list-style-type: none;
  padding: 0;
  li a {
    color: $primary-color;
  }
}
.side-pane {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $white-color;
    box-shadow: $box-shadow;
    padding: 2rem;
    border-radius: 2px;

    h2 {
      // font-weight: 600;
      margin: 0.5rem 0 0 0;
    }
    p {
      color: #97a0af;
      margin-top: 0;
    }
    img {
      margin-top: 0.5rem;
      border-radius: 50%;
    }

    .stats {
      display: flex;
      justify-content: space-between;

      .stats-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 1rem;

        h1 {
          margin: 0;
          // font-weight: 600;
        }

        span {
          color: #97a0af;
        }
      }
    }

    .social-icons {
      margin-top: 1rem;
      ul {
        list-style: none;
        display: flex;
        justify-content: space-between;

        li {
          margin-right: 1rem;
          svg {
            fill: #97a0af;
          }
          a:hover {
            svg {
              fill: $primary-color;
            }
          }
        }
      }
    }
  }
}

.back {
  color: $primary-color;
}
// desktop

@media only screen and (min-width: 1200px) {
  .container {
    display: flex;
    justify-content: space-between;
    margin: 2rem auto;
    max-width: 1100px;
  }

  .card {
    border-radius: 2px;
    max-width: 700px;
  }
  .card-footer {
    justify-content: left;

    .footer-item {
      margin-right: 1rem;
    }
  }
}
