@import "./variables.scss";

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;

  background: $white-color;
  padding: 0.8rem;
  box-shadow: $box-shadow;

  .main-site-logo {
    display: flex;
    align-items: center;

    svg{
      height: 16px;
      fill: $secondary-color;
    }
    a {
      height: 16px;
      color: $secondary-color;
    }
  }

  div {
    height: 24px;
  }
  a {
    text-decoration: none;
  }
}

.modal {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: $modal-background-color;
  display: none;
  z-index: 90;
}
.mobile-nav-menu {
  position: relative;
  background: $white-color;
  width: 70%;
  height: 100%;
  
  .site-logo {
    display: flex;
    padding: 1rem;
    align-items: center;
    svg {
      fill: $secondary-color;
      margin-right: 1.2rem;
    }
    img {
      height: 1rem;
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      padding: 0 8px;
      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 8px;
        border-radius: 3px;
        font-weight: $semi-bold;
        color: $secondary-color;

        svg {
          margin-right: 1.2rem;
          fill: $secondary-color;
        }
      }
      .menu-item-active {
        background-color: $link-hover-color;
        color: $primary-color;
        svg {
          fill: #0052cc;
        }
      }
      a:hover {
        background-color: $link-hover-color;
      }
    }
  }

  animation-name: slide;
  animation-duration: 0.4s;
}

@keyframes slide {
  from {left: -70%; opacity: 0;}
  to {left: 0; opacity: 1;}
}

.hamburger {
  svg{
    fill: $secondary-color;
  }
}

.search {
  svg {
    fill: $secondary-color;
  }
}