@import "./variables";

.all-tags {
  background-color: $white-color;
  box-shadow: $box-shadow;
  padding: 1.5rem;
  

  ul {
    list-style: none;
    padding: 0;
    
    li{
      display: inline-block;
      background: #deebff;
      padding: 2px 1rem;
      margin-right: 1rem;
      margin-bottom: 0.5rem;
      font-weight: 500;
      border-radius: 13px;

      a {
        color: $primary-color;
      }
    }
  }
}